<a href="https://colab.research.google.com/github/caiyu-yang/Bigdata/blob/main/0309.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

變數練習

In [69]:
a <- 5
b <- 3.8
c <- -1

In [70]:
str(a)
str(b)
str(c)

 num 5
 num 3.8
 num -1

In [71]:
is.numeric(a)

[1] TRUE

In [72]:
is.numeric(b)

[1] TRUE

In [73]:
is.numeric(c)

[1] TRUE

In [74]:
d <-"Hello Bitch"
e <-"Good"

In [75]:
str(d)
str(e)

 chr "Hello Bitch"
 chr "Good"

In [76]:
f <- c(5,4,3,2,1)
g <- c("劉又甜","楊采諭","白富美","霸道總裁")

In [77]:
f[1]

[1] 5

In [78]:
g[2]

[1] "楊采諭"

In [79]:
g[c(2,3)]

[1] "楊采諭" "白富美"

In [80]:
g[c(1,4)]

[1] "劉又甜"   "霸道總裁"

In [81]:
h <- c(1,2,3,4,5,6,7,8,9)
i <- c(2,3,4,5,6,7,8,9,10)

In [82]:
h * i

[1]  2  6 12 20 30 42 56 72 90

In [83]:
h^2

[1]  1  4  9 16 25 36 49 64 81

In [84]:
i^3

[1]    8   27   64  125  216  343  512  729 1000

In [85]:
h > 3

[1] FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE

In [31]:
i > 3

[1] FALSE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE

In [86]:
gender <- c("男","女","男","女","中")

In [87]:
gender <- factor(gender)

In [88]:
gender

[1] 男 女 男 女 中
Levels: 中 女 男

In [89]:
j <- matrix(c(1:6), nrow=3, ncol=2)

In [90]:
j

     [,1] [,2]
[1,] 1    4
[2,] 2    5
[3,] 3    6

In [38]:
k <- matrix(c(7:12), nrow=2, ncol=3)

In [39]:
k

     [,1] [,2] [,3]
[1,] 7     9   11
[2,] 8    10   12

In [40]:
j[2,2]

[1] 5

In [41]:
j[2,]

[1] 2 5

In [42]:
j[,2]

[1] 4 5 6

In [43]:
k[2,2]

[1] 10

In [44]:
k[2,]

[1]  8 10 12

In [46]:
k[,2]

[1]  9 10

In [50]:
install.packages("SportsAnalytics")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [51]:
library("SportsAnalytics")

In [52]:
NBA1516 <- fetch_NBAPlayerStatistics("15-16")

In [56]:
str(NBA1516)

'data.frame':	476 obs. of  25 variables:
 $ League             : Factor w/ 1 level "NBA": 1 1 1 1 1 1 1 1 1 1 ...
 $ Name               : chr  "Quincy Acy" "Jordan Adams" "Steven Adams" "Arron Afflalo" ...
 $ Team               : Factor w/ 31 levels "ATL","BOS","BRO",..: 27 15 22 20 19 13 28 26 12 15 ...
 $ Position           : Factor w/ 5 levels "C","PF","PG",..: 4 5 1 5 1 1 2 2 2 5 ...
 $ GamesPlayed        : int  59 2 80 71 59 60 74 9 79 64 ...
 $ TotalMinutesPlayed : int  877 15 2019 2359 863 802 2260 37 1601 1622 ...
 $ FieldGoalsMade     : int  119 2 261 354 150 134 536 5 191 215 ...
 $ FieldGoalsAttempted: int  214 6 426 799 314 225 1045 10 370 469 ...
 $ ThreesMade         : int  19 0 0 91 0 0 0 0 0 15 ...
 $ ThreesAttempted    : int  49 1 0 238 1 0 16 0 0 42 ...
 $ FreeThrowsMade     : int  50 3 114 110 52 60 259 0 46 90 ...
 $ FreeThrowsAttempted: int  68 5 196 131 62 84 302 0 73 138 ...
 $ OffensiveRebounds  : int  65 0 218 23 75 86 175 2 162 104 ...
 $ TotalRebounds      : int  188 2 531 266 269 288 631 6 424 297 ...
 $ Assists            : int  27 3 61 145 32 50 110 0 76 70 ...
 $ Steals             : int  29 3 42 25 19 47 38 1 26 109 ...
 $ Turnovers          : int  27 2 84 82 54 64 99 1 69 78 ...
 $ Blocks             : int  24 0 89 10 36 68 81 2 42 18 ...
 $ PersonalFouls      : int  103 2 223 142 134 139 151 1 147 175 ...
 $ Disqualifications  : int  0 0 2 1 0 1 0 0 1 1 ...
 $ TotalPoints        : int  307 7 636 909 352 328 1331 10 428 535 ...
 $ Technicals         : int  3 0 2 1 2 0 0 0 0 1 ...
 $ Ejections          : int  0 0 0 0 0 0 0 0 0 0 ...
 $ FlagrantFouls      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ GamesStarted       : int  29 0 80 57 17 5 74 0 28 56 ...

In [57]:
head(NBA1516)

  League Name          Team Position GamesPlayed TotalMinutesPlayed
1 NBA    Quincy Acy    SAC  SF       59           877
2 NBA    Jordan Adams  MEM  SG        2            15
3 NBA    Steven Adams  OKL  C        80          2019
4 NBA    Arron Afflalo NYK  SG       71          2359
5 NBA    Alexis Ajinca NOR  C        59           863
6 NBA    Cole Aldrich  LAC  C        60           802
  FieldGoalsMade FieldGoalsAttempted ThreesMade ThreesAttempted ⋯ Steals
1 119            214                 19          49             ⋯ 29
2   2              6                  0           1             ⋯  3
3 261            426                  0           0             ⋯ 42
4 354            799                 91         238             ⋯ 25
5 150            314                  0           1             ⋯ 19
6 134            225                  0           0             ⋯ 47
  Turnovers Blocks PersonalFouls Disqualifications TotalPoints Technicals
1 27        24     103           0                 307         3
2  2         0       2           0                   7         0
3 84        89     223           2                 636         2
4 82        10     142           1                 909         1
5 54        36     134           0                 352         2
6 64        68     139           1                 328         0
  Ejections FlagrantFouls GamesStarted
1 0         0             29
2 0         0              0
3 0         0             80
4 0         0             57
5 0         0             17
6 0         0              5

In [59]:
subset(NBA1516, Team=="LAC")

    League Name             Team Position GamesPlayed TotalMinutesPlayed
6   NBA    Cole Aldrich     LAC  C        60           802
29  NBA    Jeff Ayres       LAC  PF       16            95
101 NBA    Jamal Crawford   LAC  SG       79          2126
110 NBA    Branden Dawson   LAC  SF        6            28
171 NBA    Jeff Green       LAC  SF       80          2258
172 NBA    Blake Griffin    LAC  PF       35          1171
236 NBA    Wesley Johnson   LAC  SG       80          1664
242 NBA    Deandre Jordan   LAC  C        77          2600
285 NBA    Luc Mbah_a_moute LAC  SF       75          1278
349 NBA    Chris Paul       LAC  PG       74          2425
355 NBA    Paul Pierce      LAC  SF       68          1235
366 NBA    Pablo Prigioni   LAC  PG       59           816
370 NBA    J.j. Redick      LAC  SG       75          2098
373 NBA    Austin Rivers    LAC  SG       67          1466
457 NBA    C.j. Wilcox      LAC  SG       23           168
    FieldGoalsMade FieldGoalsAttempted ThreesMade ThreesAttempted ⋯ Steals
6   134             225                  0          0             ⋯  47
29   10              21                  0          1             ⋯   0
101 379             940                117        345             ⋯  52
110   2               5                  0          0             ⋯   0
171 354             824                 67        213             ⋯  58
172 301             604                  6         18             ⋯  28
236 208             515                103        309             ⋯  89
242 357             507                  0          1             ⋯  52
285  94             207                 13         40             ⋯  44
349 515            1114                122        329             ⋯ 151
355 144             397                 75        242             ⋯  33
366  55             147                 28         95             ⋯  53
370 422             880                200        420             ⋯  42
373 226             516                 62        185             ⋯  48
457  26              66                  9         23             ⋯  10
    Turnovers Blocks PersonalFouls Disqualifications TotalPoints Technicals
6    64        68    139           1                  328         0
29    5         0     16           0                   24         0
101 113        12    122           0                 1120         3
110   0         1      2           0                    5         0
171  93        40    164           0                  939         0
172  83        17     95           0                  749         7
236  54        56    173           1                  549         0
242 107       176    207           1                  980        10
285  34        19    100           0                  231         0
349 193        13    185           0                 1446         7
355  58        17    129           0                  417         1
366  49         1     82           0                  145         0
370  79         5    135           0                 1226         1
373  61        10    137           1                  593         2
457   2         2     15           0                   70         0
    Ejections FlagrantFouls GamesStarted
6   0         0              5
29  0         0              0
101 0         0              5
110 0         0              0
171 0         0             41
172 0         0             35
236 0         0              9
242 0         0             77
285 0         0             61
349 0         0             74
355 0         0             38
366 0         0              3
370 0         0             75
373 0         0              7
457 0         0              0

In [67]:
subset(NBA1516, Team=="NYK")

    League Name             Team Position GamesPlayed TotalMinutesPlayed
4   NBA    Arron Afflalo    NYK  SG       71          2359
12  NBA    Lou Amundson     NYK  PF       29           199
20  NBA    Th Antetokounmpo NYK  SF        3             7
21  NBA    Carmelo Anthony  NYK  SF       72          2529
76  NBA    Jose Calderon    NYK  PG       72          2021
128 NBA    Cleanthony Early NYK  SF       17           155
145 NBA    Jimmer Fredette  NYK  PG        6            17
148 NBA    Langsto Galloway NYK  PG       82          2032
165 NBA    Jerian Grant     NYK  PG       76          1241
272 NBA    Robin Lopez      NYK  C        82          2213
337 NBA    Kyle O'quinn     NYK  PF       65           761
361 NBA    Krista Porzingis NYK  PF       72          2050
393 NBA    Kevin Seraphin   NYK  PF       48           530
423 NBA    Lance Thomas     NYK  SF       59          1323
443 NBA    Sasha Vujacic    NYK  SG       61           910
460 NBA    Derrick Williams NYK  PF       80          1442
    FieldGoalsMade FieldGoalsAttempted ThreesMade ThreesAttempted ⋯ Steals
4   354             799                 91        238             ⋯ 25
12   19              52                  0          0             ⋯  6
20    3               4                  0          1             ⋯  0
21  567            1307                105        310             ⋯ 62
76  209             455                 84        203             ⋯ 63
128  12              40                  4         15             ⋯  2
145   2               5                  1          2             ⋯  1
148 231             588                 77        224             ⋯ 77
165 148             382                 22         99             ⋯ 48
272 357             662                  0          1             ⋯ 16
337 129             271                  5         22             ⋯ 20
361 373             886                 81        243             ⋯ 52
393  84             205                  0          2             ⋯  8
423 169             382                 44        109             ⋯ 22
443 106             277                 52        143             ⋯ 34
460 254             565                 44        150             ⋯ 30
    Turnovers Blocks PersonalFouls Disqualifications TotalPoints Technicals
4    82        10    142           1                  909        1
12   15         7     44           1                   52        1
20    0         0      2           0                    6        0
21  176        38    180           1                 1573        4
76   87         7    135           1                  544        2
128   9         3     16           1                   31        0
145   2         0      2           0                    9        0
148  61        22    177           2                  625        0
165  85        10     95           0                  412        0
272 133       129    182           2                  842        3
337  61        49    107           0                  309        1
361 121       134    205           2                 1028        1
393  43        36     67           0                  187        0
423  57         7    109           2                  484        0
443  44         5     83           0                  296        1
460  61         9     69           0                  746        0
    Ejections FlagrantFouls GamesStarted
4   0         0             57
12  0         0              0
20  0         0              0
21  0         0             72
76  0         0             72
128 0         0              2
145 0         0              0
148 0         0              7
165 0         0              6
272 0         0             82
337 0         0              1
361 0         0             72
393 0         0              0
423 0         0              5
443 0         0             25
460 0         0              9

In [62]:
subset(NBA1516, Team=="GSW")

    League Name             Team Position GamesPlayed TotalMinutesPlayed
32  NBA    Leandro Barbosa  GSW  SG       68          1079
35  NBA    Harrison Barnes  GSW  SF       66          2043
55  NBA    Andrew Bogut     GSW  C        70          1452
88  NBA    Ian Clark        GSW  SG       66           579
106 NBA    Stephen Curry    GSW  PG       79          2705
136 NBA    Festus Ezeli     GSW  C        46           769
167 NBA    Draymond Green   GSW  SF       81          2807
215 NBA    Andre Iguodala   GSW  SG       65          1736
269 NBA    Shaun Livingston GSW  PG       78          1512
270 NBA    Kevon Looney     GSW  SF        5            21
286 NBA    James Mcadoo     GSW  SG       41           265
385 NBA    Brandon Rush     GSW  SG       72          1050
408 NBA    Marrees Speights GSW  C        72           836
426 NBA    Klay Thompson    GSW  SG       80          2661
437 NBA    Anderson Varejao GSW  C        53           494
    FieldGoalsMade FieldGoalsAttempted ThreesMade ThreesAttempted ⋯ Steals
32  171             370                 39        111             ⋯  44
35  295             633                 82        214             ⋯  41
55  175             279                  1          1             ⋯  32
88   89             202                 30         84             ⋯  17
106 805            1597                402        887             ⋯ 169
136 125             228                  0          0             ⋯  18
167 401             819                100        258             ⋯ 118
215 176             368                 54        154             ⋯  73
269 203             379                  2         12             ⋯  57
270   4               7                  1          2             ⋯   0
286  45              84                  1          2             ⋯  10
385 111             260                 65        157             ⋯  21
408 197             456                 24         62             ⋯  19
426 651            1386                276        648             ⋯  60
437  53             124                  0          1             ⋯  16
    Turnovers Blocks PersonalFouls Disqualifications TotalPoints Technicals
32   53        10    107           0                  433         1
35   58        10    136           1                  774         0
55   83       113    221           4                  375         0
88   43        13     58           0                  236         1
106 261        16    161           0                 2375         1
136  38        50     94           1                  320         0
167 259       111    240           2                 1131        11
215  79        19    102           0                  457         1
269  78        27    140           0                  488         2
270   1         0      2           0                    9         0
286  16         8     39           0                  117         0
385  33        23     57           1                  305         0
408  66        34    117           0                  512         2
426 138        50    152           0                 1771         0
437  22        10     70           0                  138         1
    Ejections FlagrantFouls GamesStarted
32  0         0              0
35  0         0             59
55  0         0             66
88  0         0              1
106 0         0             79
136 0         0             13
167 0         0             81
215 0         0              1
269 0         0              3
270 0         0              0
286 0         0              1
385 0         0             25
408 0         0              0
426 0         0             80
437 0         0              0

In [64]:
NBA1516[grepl("Curry", NBA1516$Name),]

    League Name          Team Position GamesPlayed TotalMinutesPlayed
105 NBA    Seth Curry    SAC  SG       44           694
106 NBA    Stephen Curry GSW  PG       79          2705
    FieldGoalsMade FieldGoalsAttempted ThreesMade ThreesAttempted ⋯ Steals
105 102             224                 50        111             ⋯  22
106 805            1597                402        887             ⋯ 169
    Turnovers Blocks PersonalFouls Disqualifications TotalPoints Technicals
105  36        3      41           0                  299        0
106 261       16     161           0                 2375        1
    Ejections FlagrantFouls GamesStarted
105 0         0              9
106 0         0             79

In [65]:
NBA1516[grepl("Andrew", NBA1516$Name),]

    League Name             Team Position GamesPlayed TotalMinutesPlayed
55  NBA    Andrew Bogut     GSW  C        70          1452
328 NBA    Andrew Nicholson ORL  PF       56           821
456 NBA    Andrew Wiggins   MIN  SF       81          2844
    FieldGoalsMade FieldGoalsAttempted ThreesMade ThreesAttempted ⋯ Steals
55  175             279                 1           1             ⋯ 32
328 146             309                41         113             ⋯ 10
456 594            1294                57         190             ⋯ 78
    Turnovers Blocks PersonalFouls Disqualifications TotalPoints Technicals
55   83       113    221           4                  375        0
328  41        22     69           0                  384        0
456 182        46    165           1                 1675        1
    Ejections FlagrantFouls GamesStarted
55  0         0             66
328 0         0              0
456 0         0             81